<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    body { font-family: Arial, sans-serif; }
    h1 { color: #333; text-align: center; }
    table { width: 100%; border-collapse: collapse; margin-top: 20px; }
    th, td { padding: 10px; border: 1px solid #ddd; }
    th { background-color: #f4f4f4; }
  </style>
</head>
<body>
  <h1>KULE VİNÇ KİRALAMA SÖZLEŞMESİ</h1>

  <h2>MADDE 1) TARAFLAR</h2>
  <p>
    ZİRVE VİNÇ TİCARET VE SANAYİ A.Ş. ile <%= @contract.customer.customer_name %>,
    <%= @contract.customer.customer_address %> adresinde bulunan,
    <%= @contract.customer.vat_office_name %> ile aşağıdaki şartlarda bir Kule Vinç Kiralama Sözleşmesi yapılmıştır.
  </p>

  <h2>MADDE 2) SÖZLEŞME KONUSU</h2>
    <p>
        A) ZİRVE VİNÇ TİCARET VE SANAYİ A.Ş şirketine ait 
        <%= @contract.crane&.crane_brand_name || "Bilinmeyen Marka" %> 
        <%= @contract.crane&.crane_model_name || "Bilinmeyen Model" %> Tipi KULE VINÇ in Kiracısı
        <%= @contract.customer&.customer_name || "Bilinmeyen Müşteri" %> ile yapılacak kiralama sözleşmesidir.
    </p>

    <p><strong>Kiralayan :</strong> <%= @contract.customer.customer_name %></p>
    <p><strong>Marka :</strong> <%= @contract.crane.crane_brand_name %></p>
    <p><strong>Seri No :</strong> <%= @contract.crane.crane_chassis_no %></p>
    <p><strong>İmal Yılı :</strong> <%= @contract.crane.crane_year%></p>
    <p><strong>Maksimum Kapasite :</strong> <%= @contract.crane.crane_tonnage %> KG</p>
    <p><strong>Yükseklik :</strong> <%= @contract.crane.crane_height %> MT</p>
    <p><strong>Bom Uzunluğu :</strong> <%= @contract.crane.crane_boom_length %> MT</p>
    <p><strong>Bom Ucu Tonajı :</strong> <%= @contract.crane.crane_boom_tonnage%> KG</p>
    <p><strong>Kiralama Süresi:</strong> <%= @contract.rent_term %> ay</p>
    <p><strong>Toplam Tutar:</strong> <%= number_to_currency(@contract.rent_amount) %></p>

    <h2>Ödeme Tablosu</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Adet</th>
            <th scope="col">Başlangıç Tarihi</th>
            <th scope="col">Bitiş Tarihi</th>
            <th scope="col">KDV Hariç Tutar</th>
            <th scope="col">KDV Oranı</th>
            <th scope="col">KDV Dahil Tutar</th>
            <th scope="col">Ödeme Tarihi</th>
            <th scope="col">Ödeme Yöntemi</th>
          </tr>
        </thead>
        <tbody>
          <% @payment_tables.each_with_index do |payment, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td class="text-center"><%= payment.rent_table_quantity %></td>
              <td class="text-center"><%= l(payment.start_date) %></td>
              <td class="text-center"><%= l(payment.end_date) %></td>
              <td class="text-end"><%= number_to_currency(payment.amount_excluding_vat) %></td>
              <td class="text-center"><%= payment.vat_percentage %>%</td>
              <td class="text-end"><%= number_to_currency(payment.amount_including_vat) %></td>
              <td class="text-center"><%= payment.payment_date %></td>
              <td class="text-center"><%= payment.payment_method %></td>
            </tr>
          <% end %>
          
        </tbody>
      </table>
    </di>


    <p>
         B) Kiralanan Vinç'in Teknik Özellikleri
        <br>MARKA : <%= @contract.crane&.crane_brand_name || "Belirtilmemiş" %>
        <br>MODEL : <%= @contract.crane&.crane_model_name || "Belirtilmemiş" %>
        <br>SERI NO : <%= @contract.crane&.crane_chassis_no || "Belirtilmemiş" %>
        <br>IMAL YILI : <%= @contract.crane&.crane_year || "Belirtilmemiş" %>
    </p>
  
</body>
</html>
