<div id="<%= dom_id crane_owner %>">
  <p>
    <strong>Crane owner name:</strong>
    <%= crane_owner.crane_owner_name %>
  </p>

  <p>
    <strong>Crane owner address:</strong>
    <%= crane_owner.crane_owner_address %>
  </p>

  <p>
    <strong>Crane owner phone:</strong>
    <%= crane_owner.crane_owner_phone %>
  </p>

  <p>
    <strong>Crane owner vat office:</strong>
    <%= crane_owner.crane_owner_vat_office %>
  </p>

  <p>
    <strong>Crane owner contact:</strong>
    <%= crane_owner.crane_owner_contact %>
  </p>

  <p>
    <strong>Crane owner contact email:</strong>
    <%= crane_owner.crane_owner_contact_email %>
  </p>

  <p>
    <strong>Crane owner contact phone:</strong>
    <%= crane_owner.crane_owner_contact_phone %>
  </p>

</div>
