<%= form_with(model: @user, local: true) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :role_id %>
      <%= f.collection_select :role_id, Role.all, :id, :name %>
    </div>
  
    <%= f.submit %>
  <% end %>