<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Adet</th>
        <th scope="col">Başlangıç Tarihi</th>
        <th scope="col">Bitiş Tarihi</th>
        <th scope="col">KDV Hariç Tutar</th>
        <th scope="col">KDV Oranı</th>
        <th scope="col">KDV Dahil Tutar</th>
        <th scope="col">Ödeme Tarihi</th>
        <th scope="col">Ödeme Yöntemi</th>
      </tr>
    </thead>
    <tbody>
      <% @payment_records.each_with_index do |payment, index| %>
        <tr>
          <td class="text-center"><%= index + 1 %></td>
          <td class="text-center"><%= payment.rent_table_quantity %></td>
          <td class="text-center"><%= payment.start_date %></td>
          <td class="text-center"><%= payment.end_date %></td>
          <td class="text-end"><%= number_to_currency(payment.amount_excluding_vat) %></td>
          <td class="text-center"><%= payment.vat_percentage %>%</td>
          <td class="text-end"><%= number_to_currency(payment.amount_including_vat) %></td>
          <td class="text-center"><%= payment.payment_date %></td>
          <td class="text-center"><%= payment.payment_method %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>